<div class="post">
  <div class="post-head">
    <h4 class="user-name"><%= post.user.username %></h4>
  </div>

  <div class="image center-block">
  <%= link_to (image_tag post.image.url(:medium)), post_path(post) %>
  </div>

  <div class="post-bottom">
    <div class="user-name"><%= post.user.username %></div>
    <p class="caption"><%= post.caption %></p>

    <% if post.comments %>
      <% post.comments.each do |comment| %>
        <div class="comment">
          <div class="user-name"><%= comment.user.username %></div>
            <div class="comment-content"><%= comment.content %></div>
            <% if comment.user.id == current_user.id %>
              <%= link_to " x", post_comment_path(post, comment), method: :delete, data: {confirm: "Delete this comment?"} %>
            <% end %> <!-- close edit if statement -->
          </div>
        <% end %> <!-- close comment loop -->
      <% end %> <!-- close if statement -->

    <%= form_for [post, post.comments.new] do |f| %>
      <span class="glyphicon glyphicon-heart-empty"></span>
      <%= f.text_field :content %>
      <%= f.submit "Comment" %>
        <% end %>

     </div> <!-- .post-bottom -->
</div> <!-- .post -->