<div class="posts_wrapper">
  <div class="row">
      <%= render 'post', post: @post %>

      <%= form_for [@post, @post.comments.new] do |f| %>
          <%= f.text_field :content %>
          <%= f.submit %>
      <% end %>

        <%= link_to "Return", posts_path %>
        <% if @post.user.id == current_user.id %>
        <%= link_to "Edit", edit_post_path(@post) %>
        <% end %>
        </div>
      </div>
  </div>
</div>